<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
		<title>Sport Radar</title>
		<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/public/styles/main.css">
		<link rel="stylesheet" href="/public/styles/user.css">
		<!-- <script src="../node_modules/restful.js/dist/restful.js"></script> -->
		<script src="/public/js/app.js"></script>
	</head>

	<body>
	    <nav class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">Sport Radar</a>
	        </div>
	        <div id="navbar" class="navbar-collapse collapse">
	          <ul class="nav navbar-nav navbar-right">
	            <li><a href="/public/index.html">Home</a></li>
	            <li><a href="/public/views/search.html">Search</a></li>
	            <li class="active"><a href="#">!!!!!!!!!!!!!!!!!!!!!!Name!!!!!!!!!!!!!</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </nav>

		<div class="container profile">
		  <div class="row">
		  	<div class="col-md-6 col-md-offset-3">
		    
		      <div class="panel panel-default">
					<div class="panel-body">
		              		<div class="row">
		                        <div class="col-xs-12 col-sm-8">
		                            <h2>!!!!!NAME!!!!!!</h2>
		                            <p><strong>About: </strong>Basketball player</p>
		                            <p><strong>Hobbies: </strong> Love playing ball, meet with frients... </p>
		                            <p><strong>Skills: </strong>
		                                <span class="label label-info tags">Basketball</span> 
		                                <span class="label label-info tags">Volleyball</span>
		                                <span class="label label-info tags">Cricket</span>
		                                <span class="label label-info tags">Gym</span>
		                            </p>
		                        </div><!--/col-->          
		                        <div class="col-xs-12 col-sm-4 text-center">
		                                <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="" class="center-block img-circle img-responsive">
		                                <ul class="list-inline ratings text-center" title="Ratings">
		                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
		                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
		                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
		                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
		                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
		                                </ul>
		                        </div><!--/col-->

		                        <div class="col-xs-12 col-sm-4">
		                            <p><small>City</small></p>
		                            <h2 style="border-bottom: 1px solid black"><strong>Wroclaw</strong></h2>                    
		                        </div><!--/col-->
		                        <div class="col-xs-12 col-sm-4">
		                            <p><small>Games</small></p>
		                            <h2 style="border-bottom: 1px solid black"><strong> 20</strong></h2>                    
		                        </div><!--/col-->
		              		</div><!--/row-->
		              </div><!--/panel-body-->
		          </div><!--/panel-->

    
    
    </div>
  </div>
</div>

  		<footer class="container-fluid text-center">
		  <p>It is a pleasure for us to welcome You on our site. Enjoy!</p> 
		</footer>
	</body>
</html>
