body {
	padding-top: 70px;
	background-color: #eee;

}
  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 2.4rem;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 2rem;
      letter-spacing: 0.2rem;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  .navbar-brand {
  	font-weight: 700;
  	font-size: 2.5rem;
  }
#navbar .nav .active>a{
	background-color: #f8f8f8;
}
#navbar .nav .active::after {
    content: "";
    display: block;
    width: 100%;
    border-top: 2px solid #8ee;
}
video {
    height: 100%;
    display: block;
    min-height: 37.5rem;
    width: 100%;
    top: -240px;
    position: relative;
}
.videoContainer {
    position: relative;
    height: 700px;
}
footer {
	background-color: #474e5d;
}
.container-fluid {
	position: fixed;
    width: 100%;
    bottom: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
}